@import url("https://fonts.googleapis.com/css2?family=Inter&display-swap");

* {
    margin: 0;
    padding: 0;
}

body{
    top: 0;
    left: 0;
    width: 100vw;
    height: max-content;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 100;
    background-color: #E3F0FF;
    color:#3E505B;
    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    gap: 10px;
}

.text-container{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.file-container{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    text-align: center;
    width: 100%;
    color: #3083DC;
}

.description{
    text-align: center;
    font: bold;
}

.link{
    color: currentColor;    
}

.link:hover{
    text-decoration: underline;
}

.drop-area{
    width: 100%;
    height: auto;
    background-color: #f3f9ff;
    border-radius: 12px;
    border: 1px dashed gray;
    overflow-x: hidden;

    & form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 20px 0px 40px;
        gap: 5px;
        color: #3083DC;
    }

    &.drag-files{
        background: #badcff;
        border-style: dashed;
    }
}


.file-input{
    display: none;
}

.uploaded{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle{
    color: #3083DC;
    font-size: 16px;
    font-weight: bold;
}

.uploaded-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #f3f9ff;
    gap: 10px;
}

.btn-download{
    display:flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    width: 100%;
    color: #3E505B;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn-delete{
    border: none;
    background-color: transparent;
}

.hidden{
    display: none;
}
/* Drag Over */

@media (min-width: 0px) and (max-width: 375px) {
    .main {
        /* Asegura que el main ocupe toda la altura y el ancho del viewport */
        min-height: 100vh;
        width: 100vw;
    }

    .container {
        /* El contenedor ocupa todo el viewport tanto en altura como en anchura */
        min-height: 85vh;
        width: 85vw;
        display: flex;
        flex-direction: column; /* Organización vertical */
    }

    .title {
        width: 80vw; /* Esto sigue respetando el 80% del ancho del viewport para el título */
    }
}



@media (min-width: 375px) and (max-width: 424px) { /* Corregido max-width */
    .container{
        margin: 30px;
    }
    .title{
        width: 80vw;
    }
}

@media (min-width: 425px) and (max-width: 767px) { 

    .container{
        margin: 30px;
        gap: 20px;
        padding: 30px;

    }
    .title{
        width: 80vw;
    }
    .drop-area{
        max-width: 600px;
        & form{
            padding-top:10%;
            padding-bottom: 13%;
        }
    }

    .uploaded{
        max-width: 600px;
    }
}

@media (min-width:750px) and (max-width: 3024px) {

    .container{
        margin: 30px;
        gap: 20px;
        padding: 30px;
        min-height: 70vh;
        max-width: 960px;
    }
    
    .file-container{
        display: flex;
        flex-direction: row;
        height: 100%;
        flex-grow: 1;
    }

    .uploaded{
        padding: 5px 20px;
    }

    .drop-area{
        & form{
            flex-grow: 1;
            height: 70%;
            overflow-y: hidden;
        }
    }

}